@charset "utf-8";

/* 公共部分开始 */
body{
    background-color: #DEDEDE;
}
/* .cf:before,
.cf:after {
    content: " ";
    display: table; 
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
} */
.container{
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
}
section,
aside{
    box-sizing: border-box;
    background-color: #fff;
    margin-top: 24px; 
    padding: 20px;
    box-shadow: 3px 3px 3px #b8b8b8;
}
/* 公共部分结束 */


/* 头部开始 */
.home-header{
    height: 60px;
    background-color: #333;
}
.home-header .logo a{
    width: 120px;
    display: block;
    float: left;
    font-size: 0;
    line-height: 60px;
    background:url("../img/logo.png") no-repeat center center;
}
.home-header .menu{
    float: right;
}
.home-header .menu li{
    /* width: 60px; */
    float: left;
    white-space: nowrap;
    margin-left: 24px;
    line-height: 60px;
}
.home-header .menu a{
    font-size: 14px;
    color: #fff;
}
.home-header .menu a:hover{
    font-size: 14px;
    color: #949D9A;
}
/* 头部结束 */

/* 文章部分开始 */
.home-images .title,
.home-article .title{
    font-size: 20px;
    line-height: 40px;
}
.home-article .subtitle{
    font-size: 16px;
    line-height: 28px;
    color: #8b8b8b;
}
.home-article .info{
    font-size: 12px;
    line-height: 30px;
    color: #adadad;
    
}
.home-article .content{
    font-size: 14px;
    line-height: 28px;
    margin: 10px 0;
}
.home-article .content a{
    color: #417cfa;
}
.home-article .content img{
    margin: 10px 0;
}
.home-article .content ul{
    list-style: none;
    padding-left: 20px;
}
.home-article .content ol{
    padding-left: 40px;
}
.home-article .content table{
    width: 100%;
}
.home-article .content thead{
    color: #fff;
    background-color: #333333;
}
.home-article .content tfoot{
    background-color: #CCCCCC;
}
.home-article .content td{
    padding: 0 5px;
    border: 1px solid #CCCCCC;
}
/* 文章部分结束 */

/* 图片集部分开始 */
.home-images .gallery{
    list-style: none;
}
.home-images .gallery li{
    width: 122px;
    height: 126px;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #D8D8D8;
}
.home-images .gallery p{
    line-height: 34px;
    font-size: 12px;
}
.home-images .gallery img{
    width: 100px;
    height: 80px;
}
/* 图片集部分结束 */

/* 边栏部分开始 */
.home-sidebar .title{
    padding-left: 10px;
    border-left: 3px solid #333;
    line-height: 38px;
    font-size: 18px;
}
.home-sidebar .form{
    font-size: 14px;
}
.home-sidebar .form p{
    margin-top: 15px;
}
.home-sidebar .form label{
    width: 35%;
    display: inline-block;
    text-align: right;
}
.home-sidebar .form .info{
    position: relative;
    left: 35.3%;
    width: 40%;
    line-height: 45px;
    text-align: left;
    color: #8b8b8b;
}
.home-sidebar .form textarea,
.home-sidebar .form input[type="text"]{
    width: 55%;
    padding: 5px 5px;
    border: 1px solid #999;
}
.home-sidebar .form textarea{
    vertical-align: top;
    height: 70px;
}
.home-sidebar .form button[type="submit"]{
    width: 100%;
    height: 40px;
    display: block;
    color: #fff;
    background-color: #3355D0;
    border-radius: 6px;
    outline: none;
}
/* 边栏部分结束 */

/* 尾部开始 */
.home-footer{
    height: 70px;
    background-color: #333;
    margin-top: 24px;
}
.home-footer .copy{
    font-size: 14px;
    line-height: 70px;
    text-align: center;
    color: #fff;
}
/* 尾部结束 */
